:root {
  --primary-color: #dde0ab;
  --secondary-color: #97cba9;
  --heading-font: "Playfair Display", serif;
  --paragraph-font: "Cerebri Sans", Helvetica, Arial, sans-serif;
}
body {
  font-family: var(--paragraph-font);
  max-width: 800px;
  background-color: var(--primary-color);
  text-align: center;
}
h1 {
  font-family: var(--heading-font);
  font-size: 75px;
  line-height: 1.5;
  color: var(--secondary-color);
}
.d-flex p {
  font-size: 20px;
}
